.card__container {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #e5ecfb; */
}
.card__container h1{
  font-size: 25px; 
  margin-top: 15px;
  /* color:#2667ff; */
  font-weight: 500;
}
.card__container p{
  color: gray;
  width: 60%;
  margin-top: 10px;
  text-align: center;
}
.card__container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}