.form_comp {
  display: flex;
  flex-direction: column;
}
.form_comp {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 400;
}

.form_comp input:active {
  border-bottom: 1px solid gray;
}
.form_comp input:focus {
  border-bottom: 1px solid gray;
}
.selldata_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
.selldata_container form {
  /* border: 1px solid red; */
  padding: 30px;
  background-color: #f0f4ff;
  border-radius: 8px;
  box-shadow: 3px 3px 5px gray;
}
.form_comp input,
.form_comp textarea {
  background-color: transparent;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  margin-top: 5px;
  
}
.button {
  background-color: #2667ff;
}
.but {
  display: flex;
  justify-content: center;
  background-color: #3636d6;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 18px;
  padding: 4px 6px;
}
.uploadfile input {
  border: none;

  outline: none;
}
.but:hover {
  background-color: #3636d6;
  box-shadow: 3px 3px 5px gray;
}

/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}


/* PULSE BUBBLES */

.spinner-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

}

.pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5658f5;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

.loading_Spinner {
  display: flex;
  flex-direction:column;
}

.font{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.font img{
  height: 70px;
}




